.App {
  /* margin-top: 123px; */
  /* text-align: center; */
  background: linear-gradient(180deg, #FFFFFF 0%, #DDD9CD 100%);

}
.header {
  min-height: 112px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  align-items: center;
  gap: 30px;
  background: #C0B9A914;

}
.header__logo {
  height: max-content;
}
.header__content {
  width: 90%;
  display: flex;
  justify-content: space-around;
  height: min-content;
  gap: 10px 30px;
  flex-wrap: wrap;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.header__menuContent {
  font-family: PT Mono;
  font-size: 19.49px;
  font-weight: 400;
  line-height: 19.49px;
  letter-spacing: -0.04em;
  color: #DDD9CD;
}
.header__contactsContent {
  font-family: PT Mono;
  font-size: 19.49px;
  font-weight: 400;
  line-height: 19.49px;
  letter-spacing: -0.04em;
  color: #DDD9CD;
}
.header__contacts {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.header__contentMobile {
   display: none; 
}
.header__logoVk {
  background-color: transparent;
}
.main {
  height: calc(100vh - 112px);
  background: linear-gradient(180deg, #FFFFFF 0%, #DDD9CD 100%);
}
.main__develop {
  display: grid;
  width: 50%;
}
.main__developLogoLotos {
  width: 490px;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0.3;
}
.main__developLogoDevelop {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: self-end;
  margin-left: auto;
}
.main__developText {
  display: block;
  align-self: center;
  text-align: center;
  margin: 0 auto;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 466px;
  font-family: PT Mono;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -0.04em;
  color: #FF6322;

}


@media screen and (max-width: 660px) {
  .header__content {
    display: none;
  }
  .header__contentMobile {
    display: flex;
    gap: 10px;
  }
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
